#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Commonly used libraries used by Data Scientists
* Tables
* Data Science Tools
* Arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. R
4. SQL
5. GO

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Seaborn

| Data Science Tools | 
| -------------|
| R Studio | 
| Anaconda | 
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
##This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
##This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Oksana